{% extends "_base.html.j2" %}
{% block title %}Link unavailable{% endblock %}
{% block content %}

<div class="card">
    <h1>Link unavailable</h1>
    <p>This case-access link is invalid, expired, or has been revoked.</p>
    <p>If you reached this page from an email we sent you, please reply
    to that email and we'll reissue a fresh link within one business day.</p>
    <p>Otherwise, contact
    <a href="mailto:support@recupero.io">support@recupero.io</a>
    with your case number and we'll restore access.</p>
</div>

{% endblock %}
